<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Tour Express 13</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
</head>

<body>
	<div class="container" id="container">
		<div class="form-container sign-up-container">
			<form method="POST" action="{% url 'registrarEmprendimiento' %}">
				{% csrf_token %}
				<h1>Crear Cuenta</h1>
				<div class="social-container">
					<!-- <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
					<a href="#" class="social"><i class="fab fa-google"></i></a>
					<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a> -->
				</div>
				<span>Usa tu correo para registrarte</span>
				<input type="text" name="name" placeholder="Nombre Emprendimiento" required=true />
				<input type="email" name="username" placeholder="Correo" required=true />
				<input type="password" name="password" placeholder="Contraseña" required=true />
				<input type="password" name="passwordConfirm" placeholder="Confirmar Contraseña" required=true />
				<button type="submit">Registrarse</button>
			</form>
		</div>
		<div class="form-container sign-in-container">
			<form method="post">
				{% csrf_token %}
				<h1>Iniciar Sesión</h1>
				<div class="social-container">

					{% for message in messages %}
					<div class="alert alert-{{ message.tags }}" style="width:100%; background-color: #e6c41c; color: white; padding:10px;
                    border-radius: 10px;">{{ message }}</div>
					{% endfor %}
					<!-- <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
					<a href="#" class="social"><i class="fab fa-google"></i></a>
					<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a> -->
				</div>
				<span>Ingresa la información de tu cuenta</span>
				<input type="text" name="username" placeholder="Correo" required=true />
				<input type="password" name="password" placeholder="Contraseña" required=true />
				<a href="{% url 'password_reset' %}">¿Olvidaste tu contraseña?</a>
				<button type="submit">Iniciar Sesión</button>
			</form>
		</div>
		<div class="overlay-container">
			<div class="overlay">
				<div class="overlay-panel overlay-left">
					<h1>Vuelve Pronto!</h1>
					<p>Para mantenerte conectado con nosotros inicia sesión con la cuenta de tu emprendimiento</p>
					<button class="ghost" id="signIn">Iniciar Sesión</button>
				</div>
				<div class="overlay-panel overlay-right">
					<h1>Bienvenido!</h1>
					<p>Ingresa la información de tu emprendimiento</p>
					<button class="ghost" id="signUp">Registrarse</button>
				</div>
			</div>
		</div>
	</div>

	<footer>
		<p>
			Creado con <i class="fa fa-heart"></i> por
			<a target="_blank">Equipo Dinamita</a>
		</p>
	</footer>
	<script src="{% static 'js/login.js' %}"></script>
</body>

</html>